.carousalItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
}

.carousalItem_img {
    border-radius: 10px;
    margin-bottom:5px;
    box-shadow: 0 0 5px #28282B;
}